<%- include('../partials/header.ejs')  %>

<h1>Listing Detail</h1>

<p><strong><%= listing.address %></strong></p>
<p>Owner: <%= listing.owner %></p>
<p>Listed On: <%= listing.createdAt %></p>

<%- include('../partials/footer.ejs')  %>